$white: #f8f8f8;
$darkMode: #29292e;
$lightDark: #333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    color: $darkMode;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}

.dark {
    background: $darkMode;
    color: $white;
    transition: background ease-in-out 0.4s;
    min-height: 100vh;
    height: 100%;

    h1, h2, h3, h4, h5, h6, p, span {
        color: $white !important;
    }

    .content > div button {
        background: $lightDark;
        color: $white;
        transition: background ease-in-out 0.4s;
    }

    .room-code {
        background: $lightDark;
        transition: background ease-in-out 0.4s;
    }

    .question {
        box-shadow: 0 2px 12px rgba(255,255,255,0.3);

        p {
            color: $darkMode !important;
        }

        .question-buttons button span {
            color: #737380 !important;
        }
    }

    footer .user-info span {
        color: #737380 !important;
    }
}

.light {
    background: $white;
    color: $darkMode;
    transition: background ease-in-out 0.4s;
    min-height: 100vh;
    height: 100%;
}

.toogle-theme {
    position: absolute;
    top: 6%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.center-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

* {
    scrollbar-width: thin;
    scrollbar-color: $darkMode $darkMode;
}
  
  /* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: $darkMode;
}
  
*::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 20px;
    border: 3px solid $darkMode;
}