$roxo: #835afd;
$darkGrey: #737380;
$darkMode: #29292e;
$answeredQuestion: #dbdcdd;
$questionBg: #fefefe;
$highlitedBg: #f4f0ff;

.question {
    background: $questionBg;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.04);
    padding: 24px;
    border: 1px solid $roxo;

    & + .question {
        margin-top: 8px;
    }  

    &.highlighted {
        background-color: $highlitedBg;
        border: 1px solid $roxo;

        footer .user-info span {
            color: #29292e;
        }

        .highlight-btn {
            color: $roxo;
        }
    }

    &.answered {
        background: $answeredQuestion;
    }

    p {
        color: $darkMode;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            span {
                margin-left: 8px;
                color: $darkGrey;
                font-size: 14px;
            }
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;

            &.like-button {
                display: flex;
                align-items: flex-end;
                color: $darkGrey;
                gap: 8px;

                &.liked {
                    color: $roxo;

                    svg path {
                        stroke: $roxo;
                    }
                }
            }

            &:hover {
                filter: brightness(0.7);
                transition: filter ease-in-out 0.2s;
            }
        }

        .question-buttons {
            display: flex;
            gap: 10px;
        }
    }
}